<div class="article__box_score">
    {% if boxscore is not empty %}
        <div class="results">
            <div class="results__head">
                <span></span>
                <div class="list">
                    {% for period in boxscore.data.0.periods.lineprd %}
                        <span><small>{{ period.prd | e }} </small></span>
                    {% endfor %}
                    <span>total</span>
                </div>
            </div>
            <div class="results__body">
                {% for team in  boxscore.data %}
                    <div class="item">
                        <div class="name">
                            <span>{{ team.name | e }}</span>
                        </div>
                        <div class="list">
                            {% for period in team.periods.lineprd %}
                                <span><small>period {{ period.prd | e }}</small> {{ period.score | e }}</span>
                            {% endfor %}
                            <span class="total">
                            <small>total</small>
                            {{ team.periods.score }}
                        </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if stats is not empty %}
            <div class="stats">
                <table>
                    <thead>
                    <tr>
                        <th>Game stats</th>
                        {% for team in  boxscore.data %}
                            <th>{{ team.name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for  name  in stats %}
                        <tr>
                            <td>{{ name | e | stats }}</td>
                            {% for team in  boxscore.data %}
                                {% if team.stats[name] is defined %}
                                    <td>{{ team.stats[name] | e }}</td>
                                {% else %}
                                    <td>0</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endif %}
</div>
{% if article is not defined %}
{% if game is defined %}
    <div class="table_xml">
        <h2 class="text-left">Match Details</h2>
        <hr>
    </div>
    {% for team in game.team %}
        {% if team.attackbygame is defined %}
            <div class="table_xml">
                <h4 class="text-left">{{ team.name | e }}</h4>
            </div>
            <div class="table_xml">
                <div class="article__stats">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Set</th>
                                <th>K</th>
                                <th>E</th>
                                <th>TA</th>
                                <th>%</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if team.attackbygame.attackgame is defined %}
                                {% for data in team.attackbygame.attackgame %}
                                    <tr>
                                        <td>
                                            {% if data.game is defined %}
                                                {{ data.game | e | stats }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if data.k is defined %}
                                                {{ data.k | e }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if data.e is defined %}
                                                {{ data.e | e }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if data.ta is defined %}
                                                {{ data.ta | e }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if data.pct is defined %}
                                                {{ data.pct | e }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td>Totals:</td>
                                <td>
                                    {% if team.totals.attack.k is defined %}
                                        {{ team.totals.attack.k | e }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                                <td>
                                    {% if team.totals.attack.e is defined %}
                                        {{ team.totals.attack.e | e }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                                <td>
                                    {% if team.totals.attack.ta is defined %}
                                        {{ team.totals.attack.ta | e }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                                <td>
                                    {% if team.totals.attack.pct is defined %}
                                        {{ team.totals.attack.pct | e }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% if game.team[0] is defined and game.team[1] is defined %}
        <div class="table_xml">
            <h2 class="text-left">Team Comparison</h2>
            <hr>
        </div>
        <div class="table_xml">
            <div class="article__stats">
                <div class="table-responsive table-bordered">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>
                                {% if game.team[0].id is defined %}
                                    {{ game.team[0].id | e }}
                                {% endif %}
                            </th>
                            <th>
                                {% if game.team[1].id is defined %}
                                    {{ game.team[1].id | e }}
                                {% endif %}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-left">
                                Points
                            </td>
                            <td>
                                {% if game.team[0].totals.misc.pts is defined %}
                                    {{ game.team[0].totals.misc.pts | e }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td>
                                {% if game.team[1].totals.misc.pts is defined %}
                                    {{ game.team[1].totals.misc.pts | e }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Kills
                            </td>
                            <td>
                                {% if game.team[0].totals.attack.k is defined %}
                                    {{ game.team[0].totals.attack.k | e }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td>
                                {% if game.team[1].totals.attack.k is defined %}
                                    {{ game.team[1].totals.attack.k | e }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Aces
                            </td>
                            <td>
                                {% if game.team[0].totals.serve.sa is defined %}
                                    {{ game.team[0].totals.serve.sa | e }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td>
                                {% if game.team[1].totals.serve.sa is defined %}
                                    {{ game.team[1].totals.serve.sa | e }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Blocks
                            </td>
                            <td>
                                {% if game.team[0].totals.block.tb is defined %}
                                    {{ game.team[0].totals.block.tb | e }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td>
                                {% if game.team[1].totals.block.tb is defined %}
                                    {{ game.team[1].totals.block.tb | e }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Assists
                            </td>
                            <td>
                                {% if game.team[0].totals.set.a is defined %}
                                    {{ game.team[0].totals.set.a | e }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td>
                                {% if game.team[1].totals.set.a is defined %}
                                    {{ game.team[1].totals.set.a | e }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Digs
                            </td>
                            <td>
                                {% if game.team[0].totals.defense.dig is defined %}
                                    {{ game.team[0].totals.defense.dig | e }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td>
                                {% if game.team[1].totals.defense.dig is defined %}
                                    {{ game.team[1].totals.defense.dig | e }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    {% if game.team[0] is defined and game.team[1] is defined %}
        <div class="table_xml">
            <h2 class="text-left">Game Leaders</h2>
            <hr>
        </div>
        <div class="table_xml">
            <div class="article__stats">
                <div class="table-responsive table-bordered ">
                    <table class="table table-wrap">
                        <thead>
                        <tr>
                            <th></th>
                            <th>
                                {% if game.team[0].id is defined %}
                                    {{ game.team[0].id | e }}
                                {% endif %}
                            </th>
                            <th>
                                {% if game.team[1].id is defined %}
                                    {{ game.team[1].id | e }}
                                {% endif %}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left">
                                    Kills
                                </td>
                                <td>
                                    {% if game.team[0].player is defined %}
                                        {% for player in game.team[0].player if player.attack.k %}
                                            {% if player.name is defined %}
                                                {{ player.name | e }} ({{ player.attack.k | e }})
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if game.team[1].player is defined %}
                                        {% for player in game.team[1].player if player.attack.k %}
                                            {% if player.name is defined %}
                                                {{ player.name | e }} ({{ player.attack.k | e }})
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    Aces
                                </td>
                                <td>
                                    {% if game.team[0].player is defined %}
                                        {% for player in game.team[0].player if player.serve.sa %}
                                            {% if player.name is defined %}
                                                {{ player.name | e }} ({{ player.serve.sa | e }})
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if game.team[1].player is defined %}
                                        {% for player in game.team[1].player if player.serve.sa %}
                                            {% if player.name is defined %}
                                                {{ player.name | e }} ({{ player.serve.sa | e }})
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    Blocks
                                </td>
                                <td>
                                    {% if game.team[0].player is defined %}
                                        {% for player in game.team[0].player if player.block.tb %}
                                            {% if player.name is defined %}
                                                {{ player.name | e }} ({{ player.block.tb | e }})
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if game.team[1].player is defined %}
                                        {% for player in game.team[1].player if player.block.tb %}
                                            {% if player.name is defined %}
                                                {{ player.name | e }} ({{ player.block.tb | e }})
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    Assists
                                </td>
                                <td>
                                    {% if game.team[0].player is defined %}
                                        {% for player in game.team[0].player if player.set.a %}
                                            {% if player.name is defined %}
                                                {{ player.name | e }} ({{ player.set.a | e }})
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if game.team[1].player is defined %}
                                        {% for player in game.team[1].player if player.set.a %}
                                            {% if player.name is defined %}
                                                {{ player.name | e }} ({{ player.set.a | e }})
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    Digs
                                </td>
                                <td>
                                    {% if game.team[0].player is defined %}
                                        {% for player in game.team[0].player if player.defense.dig %}
                                            {% if player.name is defined %}
                                                {{ player.name | e }} ({{ player.defense.dig | e }})
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if game.team[1].player is defined %}
                                        {% for player in game.team[1].player if player.defense.dig %}
                                            {% if player.name is defined %}
                                                {{ player.name | e }} ({{ player.defense.dig | e }})
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% endif %}